.App {
  text-align: center;
}

.loading {
  display: flex;
  justify-content: center;
}
 
.loading::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: solid 10px #ddd;
  border-top-color: #6e91b9;
  border-bottom-color: #9983e7;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}
 
@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
